<?xml version="1.0" encoding="UTF-8"?>
<web-app> xmlns="http://xmlns.jcp.org/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
version="3.1">

<servlet>
<servlet-name>CandidateRegisterServlet</servlet-name>
<servlet-class>com.jobportal.servlet.CandidateRegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CandidateRegisterServlet</servlet-name>
<url-pattern>/CandidateRegisterServlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>CandidateLoginServlet</servlet-name>
<servlet-class>com.jobportal.servlet.CandidateLoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CandidateLoginServlet</servlet-name>
<url-pattern>/CandidateLoginServlet</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>CompanyRegisterServlet</servlet-name>
<servlet-class>com.jobportal.servlet.CompanyRegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CompanyRegisterServlet</servlet-name>
<url-pattern>/CompanyRegisterServlet</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>CompanyLoginServlet</servlet-name>
<servlet-class>com.jobportal.servlet.CompanyLoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CompanyLoginServlet</servlet-name>
<url-pattern>/CompanyLoginServlet</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>PostJobServlet</servlet-name>
<servlet-class>com.jobportal.servlet.PostJobServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>PostJobServlet</servlet-name>
<url-pattern>/PostJobServlet</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ViewJobsServlet</servlet-name>
<servlet-class>com.jobportal.servlet.ViewJobsServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ViewJobsServlet</servlet-name>
<url-pattern>/ViewJobsServlet</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>LogoutServlet</servlet-name>
<servlet-class>com.jobportal.servlet.LogoutServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LogoutServlet</servlet-name>
<url-pattern>/LogoutServlet</url-pattern>
</servlet-mapping>


<welcome-file-list>
<welcome-file>index.jsp</welcome-file>
</welcome-file-list>
</web-app>




